<html lang="pt-BR">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="UTF-8">
<link rel="stylesheet"
	href="../bower_components/angular-material/angular-material.min.css">
</head>
<body ng-app="app" ng-cloak>
	<div ng-controller="controller">
		<div layout="column" layout-align="center">
			<md-button md-no-ink class="md-primary" ng-click="calcularScore()">
			Calcular Score</md-button>
			<div layout="row">
				<div flex="40">
					<md-content layout-padding> <md-toolbar
						class="md-hue-2">
					<h2 class="md-toolbar-tools">
						<span>Endereços candidatos</span>
					</h2>
					</md-toolbar> <md-list> <md-list-item class="md-2-line"
						ng-repeat="enderecoCandidato in enderecosCandidatos">
						
					<md-checkbox ng-model="enderecoCandidato.checked"></md-checkbox>
					<div class="md-list-item-text" layout="column">
						<h3>{{enderecoCandidato.id}} - {{enderecoCandidato.endereco}}
						</h3>
						<p>Pontuação: {{enderecoCandidato.pontuacao}}</p>
					</div>
					</md-list-item> </md-list> </md-content>
				</div>
				<div flex="60" name="enderecosNaoEstruturado">
					<md-content layout-padding> <md-toolbar
						class="md-hue-2">
					<h2 class="md-toolbar-tools">
						<span>Endereços não estruturados</span>
					</h2>
					</md-toolbar> <md-list> <md-list-item class="md-2-line"
						ng-repeat="endereco in enderecosComparacao"> <md-checkbox
						ng-model="enderecoCandidato.checked"></md-checkbox>
					<div class="md-list-item-text" layout="column">
						<h3>{{endereco.id}} - {{endereco.endereco}}</h3>
						<p>Pontuação: {{endereco.pontuacao}}</p>
					</div>
					</md-list-item> </md-list> </md-content>
				</div>
			</div>
		</div>
	</div>

	<script src="../bower_components/angular/angular.min.js"></script>
	<script
		src="../bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
	<script
		src="../bower_components/angular-messages/angular-messages.min.js"></script>

	<script
		src="../bower_components/angular-material/angular-material.min.js"></script>
	<script src="controller.js"></script>
</body>
</html>